<!-- Page Header -->
<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Artist Search</a>
    </div>
  </nav>
</header>
<!-- Page Content -->
<app-search></app-search>
<!-- Page Footer -->
<footer class="footer mt-auto py-1">
  <div class="container-fluid footerLink">
    <a href="https://www.artsy.net/" target="_blank">Powered by <img src="assets/images/artsy_logo.svg" alt="Artsy"> Artsy.</a>
  </div>
</footer>
<!-- [Angular] Routing -->
<router-outlet></router-outlet>
